<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/GroupDashboard.css"/>
</head>
<body>
    @model GroupDashboardViewModel
    <div class="container">

            <div class="header">
                <a href="/Logout">Logout</a>
            </div>
            @if(Model.currentGroups.Count == 0)
            {

            }
            else
            {
                <div class="table">
                    <table>
                        <tr>
                            <th>Group Name</th>
                            <th>Leader</th>
                            <th>Date</th>
                            <th>Subject</th>
                            <th>Location</th>
                            <th>Meeting Time</th>
                            <th>Study Time</th>
                            <th>Size</th>
                            <th>Action</th>
                        </tr>
                        
                        @foreach(Group group in Model.currentGroups)
                        {
                            <tr>
                                <td><a href="/ViewGroup/@group.GroupId">@group.Name</a></td>
                                
                                <td>@group.Leader.FirstName</td>
                                <td>@group.Date.ToString("MMM d")</td>
                                <td>@group.Subject</td>
                                <td>@group.Location</td>
                                <td>@group.Time.ToString("t")</td>
                                <td>@group.Duration @group.HourMinute</td>
                                <td>@group.UserGroups.Count</td>
                                <td>
                                    @{
                                        if(group.Leader ==@Model.thisUser)
                                        {
                                            <a href="/Delete/@group.GroupId">Delete Group</a>
                                        }
                                        else if(group.UserGroups.Any(u=>u.UserId==@Model.thisUser.UserId))
                                        {
                                            <a href="/Remove/@group.GroupId/@Model.thisUser.UserId">Leave Group</a>
                                        }
                                        else
                                        {
                                            <a href="/Join/@group.GroupId/@Model.thisUser.UserId">Join Group</a>
                                        }
                                        
                                    }
                                </td>
                            </tr>
                            
                        }
                    </table>
                    
                </div>
            }
            <a href="/AddGroup">Create A Study Group</a>
        </div>
    </body>
</html>