@using GroupLearn.Models
@model UserInfoViewModel

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>User</title>
        <link rel="stylesheet" href="~/css/ViewUser.css"/>

    </head>
    <body>
        <div class="header">
            <a href="/Logout">Logout</a>
            <a href="/Dashboard">Home</a>
        </div>
        <div class="words">

            <h1>User Information</h1>
            <h3>Name: @Model.UserInfo.FirstName @Model.UserInfo.LastName</h3>
            @{
                if(@Model.UserInfo.UserRates.Count == 0)
                {
                    <h3>@Model.UserInfo.FirstName has not been rated yet.</h3>
                }
                else
                {
                    <h3>Rating: @Model.UserInfo.Rating</h3>
                    <h3>Total # of Ratings: @Model.UserInfo.UserRates.Count</h3>
                }
                
                if(@Model.UserInfo.UserId != @Model.CurrentUser.UserId)
                {
                    if(@Model.UserInfo.UserRates.Any(ur => ur.CurUser == (int)@Model.CurrentUser.UserId))
                    {
                        <a href="/removeRating/@Model.UserInfo.UserId/@Model.CurrentUser.UserId">Remove Rating</a>
                    }
                    else
                    {
                        <p>Please Leave a Rating!</p>
                        
                        <form asp-action="UserRating" asp-route-UserId="@Model.UserInfo.UserId" asp-controller="Home" method="POST">
                            
                            <span asp-validation-for="UserInfo.allRatings"></span>
                            <label asp-for="UserInfo.allRatings"></label>
                            <select asp-for="UserInfo.allRatings">
                                <option value=1>1</option>
                                <option value=2>2</option>
                                <option value=3>3</option>
                                <option value=4>4</option>
                                <option value=5>5</option>
                            </select>
                            
                            <input type="submit" value="Submit">
                            
                        </form>
                    }
                }
            }
            <h3>School: @Model.UsersSchool.Name</h3>
            
        </div>
            @{
                <table class="table">
                <tr>
                    <th>Group Name</th>
                    <th>Leader</th>
                    <th>Date</th>
                    <th>Subject</th>
                    <th>Location</th>
                    <th>Meeting Time</th>
                    <th>Study Time</th>
                    <th>Size</th>
                    <th>Action</th>
                </tr>
                @foreach(Group group in Model.UsersGroups)
                {
                    if(@Model.UserInfo == group.Leader)
                    {
                        <tr>
                            <td><a href="/ViewGroup/@group.GroupId">@group.Name</a></td>
                            
                            <td>@group.Leader.FirstName</td>
                            <td>@group.Date.ToString("MMM d")</td>
                            <td>@group.Subject</td>
                            <td>@group.Location</td>
                            <td>@group.Time.ToString("t")</td>
                            <td>@group.Duration @group.HourMinute</td>
                            <td>@group.UserGroups.Count</td>
                            <td>
                                @{
                                    if(group.Leader == @Model.CurrentUser)
                                    {
                                        <a href="/Delete/@group.GroupId">Delete Group</a>
                                    }
                                    else if(group.UserGroups.Any(u=>u.UserId==@Model.CurrentUser.UserId))
                                    {
                                        <a href="/Remove/@group.GroupId/@Model.CurrentUser.UserId">Leave Group</a>
                                    }
                                    else
                                    {
                                        <a href="/Join/@group.GroupId/@Model.CurrentUser.UserId">Join Group</a>
                                    }
                                    
                                }
                            </td>
                        </tr>
                    }
                }
            </table>
        }
    </body>
</html>